@model WebApplication1.Areas.ModulKorisnik.ViewModels.Narudzba.NarudzbaIndexVM

@using WebApplication1.Helper
@using WebApplication1.Models
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Narudzbe";
    int br = 0;
    var porukaDelete = TempData["porukaDelete"] as string;
    KorisnickiNalog korisnik = Context.GetLogiraniKorisnik();
}



<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Vase Narudzbe</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>RB</th>
                        <th>Ime i prezime</th>
                        <th>Adresa</th>
                        <th>Datum narudzbe</th>
                        <th>Telefon</th>
                        <th>Status dostave</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var n in Model.Rows)
                        {
                            @if (korisnik.Id == n.KorisnickiNalogId)
                            {
                                <tr>
                                    @{
                                        br++;
                                    }
                                    <td>@br</td>
                                    <td>@n.ImePrezime</td>
                                    <td>@n.Adresa</td>
                                    <td>@n.DatumNarudzbe</td>
                                    <td>@n.Telefon</td>
                                    <td class="text-center">
                                        @if (n.StatusDostaveId == 1)
                                        {

                                            <a class="btn btn-success btn-xs">@n.StatusDostave</a>
                                        }
                                        else
                                        {


                                            <a class="btn btn-warning btn-xs">Na cekanju</a>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-info btn-xs" asp-area="ModulKorisnik" asp-controller="Narudzba" asp-action="Detalji" asp-route-id="@n.NarudzbaId"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Detalji</a>
                                        <a class="btn btn-danger btn-xs" OnClick="confirm('Obrisati narudžbu?')" asp-controller="Narudzba" asp-action="Obrisi" asp-route-id="@n.NarudzbaId"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Obriši</a>

                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<a class="btn btn-success" asp-area="ModulKorisnik" asp-controller="Narudzba" asp-action="Dodaj">Napravi novu narudzbu</a>
    