@using WebApplication1.Models
@using WebApplication1.EF
@{

    List<Narudzba> narudzbe = (List<Narudzba>)ViewData["narudzba"];

    List<StatusDostave> statusiDostave = (List<StatusDostave>)ViewData["statusDostave"];

    List<Dostava> dostave = (List<Dostava>)ViewData["dostava"];

    List<Narucilac> narucioci = (List<Narucilac>)ViewData["narucilac"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online restoran</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br /> <br /> <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Datum slanja</th>
                <th>Datum dostave</th>
                <td>Narucilac</td>
                <td>Status dostave</td>               
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in dostave)
            {
                <tr>
                    <td>@k.DatumVrijemeSlanja</td>
                    <td>@k.DatumVrijemeDostave</td>
                    <td>@k.Narudzba.Narucilac.ImePrezime</td>
                    <td>@k.StatusDostave.Opis</td>                   
                    <td><a href="/Dostava/Uredi/@k.Id">Uredi</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
