@using WebApplication1.Models
@using WebApplication1.EF
@{

    List<Grad> gradovi = (List<Grad>)ViewData["grad"];

    List<RadnoMjesto> radnaMjesta = (List<RadnoMjesto>)ViewData["radnoMjesto"];

    List<Zaposlenik> zaposlenici = (List<Zaposlenik>)ViewData["zaposlenik"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online restoran</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br /> <br /> <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <td>Telefon</td>
                <td>JMBG</td>
                <td>Datum Rodjenja</td>
                <td>Email</td>
                <td>Korisnicko ime</td>
                <td>Lozinka</td>
                <td>Grad</td>
                <td>Radno Mjesto</td>
                <td></td> 
            </tr>
        </thead>
        <tbody>
            @foreach (var k in zaposlenici)
            {
            <tr>
                <td>@k.Ime</td>
                <td>@k.Prezime</td>
                <td>@k.Telefon</td>
                <td>@k.JMBG</td>
                <td>@k.DatumRodjenja</td>
                <td>@k.Email</td>
                <td>@k.Grad.Naziv</td>
                <td>@k.RadnoMjesto.Naziv</td>
                <td><a href="/Zaposlenik/Uredi/@k.Id">Uredi</a></td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
